notebook
matplotlib
pandas
numpy
pydicom
scikit-image
opencv-python
pprintpp
pytest
pytest-cov
sphinx
sphinx_rtd_theme
python-logstash
networkx
pydot
celery[redis]
jupyter
jupyterlab
tqdm
jsonref
scipy
sklearn
psycopg2-binary
seaborn